PORT=5000
MONGODB_URI=mongodb+srv://gunjan_db_user:48woYzrk0UVSvn2v@cluster0.milwlmy.mongodb.net/
JWT_SECRET=9bA#72xLmPq$8RzV1kNwE4yHfJ6tUcM9
OPENAI_API_KEY=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
CLIENT_URL=http://localhost:5173
